<div class="container">
  <ul class="gn-menu-main" style="border-bottom: 1px solid #c6d0da">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper" style="border-right:1px solid #c6d0da">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li><a href="#"> <i class="fas fa-home fa-2x i-position" aria-hidden="true" style="position: relative; margin:0 18px 0 10px;"></i>Главная</a></li>
            <li><a routerLink="/account"><i class="fas fa-user fa-2x i-position" aria-hidden="true" style=" margin:0 18px 0 10px;"></i>Профиль</a></li>
            <li><a routerLink="/dimension-start"><i class="fas fa-clipboard-list fa-2x i-position" aria-hidden="true" style=" margin:0 20px 0 15px;"></i>Начать оценку</a></li>
            <li><a routerLink="/history"><i class="fas fa-history fa-2x i-position" aria-hidden="true" style="margin:0 18px 0 10px;"></i>История оценок</a></li>
            <li><a routerLink="/sets"><i class="far fa-list-alt fa-2x i-position" aria-hidden="true" style="margin:0 18px 0 10px;"></i>Наборы</a></li>
            <li><a (click)="logout()"><i class="fas fa-sign-out-alt fa-2x i-position" style="margin:0 18px 0 10px;" aria-hidden="true"></i>Выйти</a></li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li style="float: right"><a routerLink="/registered"><span>Регистрация</span></a></li>
    <li style="float: right"><a routerLink="/login"><span>Войти</span></a></li>
  </ul>
</div>
