<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">
        <h2>Наборы критериев и альтернатив</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 style="margin-bottom: 20px">Наборы критериев
                <button type="button" class="btn btn-default" style="float: right" data-toggle="modal" data-target="#myModal5">Добавить набор
                </button>
              </h4>

              <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" style="padding-top: 20px">
                <div class="panel panel-default" *ngFor="let criterionsSet of criterionsSets; let i = index">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title" style="padding-bottom: 15px">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1"
                         href="#{{i}}" aria-expanded="false" aria-controls="collapseOne">
                        {{criterionsSet.name}}
                      </a>
                      <button type="button" style="float: right" class="btn btn-danger btn-sm"
                              (click)="deleteCriterionsSet(criterionsSet.id, i)">
                        <i class="fas fa-times"></i>
                      </button>
                    </h4>
                  </div>
                  <div id="{{i}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingOne">
                    <div class="panel-body">

                      <div class="accordionBlock">
                        <h4>Критерии в наборе:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Наименование критерия</th>
                              <th>Описание</th>
                            </tr>
                            <tr *ngFor="let criterion of criterionsSet.criterions; let j = index;">
                              <td><a data-toggle="modal" data-target="#myModal11" (click)="setInfoForUpdate(criterionsSet.id, i, j, true)">{{criterion.criterionName}}</a></td>
                              <td>{{criterion.description}}</td>
                              <td>
                                <button type="button" style="float: right" class="btn btn-danger btn-sm"
                                        (click)="deleteCriterion(criterionsSet.id,criterion.id, i, j)"><i class="fas fa-times"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px" data-toggle="modal"
                                (click)="setInfoForInsert(i, criterionsSet.id)" data-target="#myModal1">
                          Добавить критерий
                        </button>
                      </div>

                      <div class="accordionBlock">
                        <h4>Описание набора:</h4>
                        <h5>{{criterionsSet?.comment}}</h5>
                      </div>

                      <div>
                        <h4>Доступен у экспертов:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Фамилия</th>
                              <th>Имя</th>
                            </tr>
                            <tr *ngFor="let expert of criterionsSet.experts; let j = index">
                              <td>{{expert.lastName}}</td>
                              <td>{{expert.firstName}}</td>
                              <td>
                                <button type="button" style="float: right"
                                        class="btn btn-danger btn-sm"
                                        (click)="deleteExpertInCriterionSet(criterionsSet.id,expert.id, i, j)"><i class="fas fa-times"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px" data-toggle="modal"
                                (click)="setInfoForInsert(i, criterionsSet.id)" data-target="#myModal3">Добавить эксперта
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Модаль -->
                <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel5">Создание набора критериев</h4>
                      </div>

                      <form class="form-horizontal" novalidate #z="ngForm"
                            (ngSubmit)="addNewCriterionsSet(z.value, z.valid)">
                        <div class="modal-body">

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Название</h4>
                            <div class="profile-input">
                              <input type="text" class="form-control" name="name"
                                     [(ngModel)]="newCriterionsSet.name"
                                     placeholder="Название"
                                     ngModel
                                     #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                            </div>
                          </div>

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Комментарий</h4>
                            <div class="profile-input">
                      <textarea class="form-control" rows="7" maxlength="150"
                                style="width: 400px; resize: none"
                                name="comment" placeholder="Комментарий" [(ngModel)]="newCriterionsSet.comment">
                      </textarea>
                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                          <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Модаль -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">Добавление нового критерия</h4>
                      </div>

                      <form class="form-horizontal" novalidate #a="ngForm"
                            (ngSubmit)="addOrUpdateCriterionInSet(a.value, a.valid)">
                        <div class="modal-body">

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Название</h4>
                            <div class="profile-input">
                              <input type="text" class="form-control" name="criterionName"
                                     [(ngModel)]="criterion.criterionName"
                                     placeholder="Название"
                                     ngModel
                                     #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                            </div>
                          </div>

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Комментарий</h4>
                            <div class="profile-input">
                      <textarea required class="form-control" rows="7" maxlength="150"
                                style="width: 400px; resize: none"
                                name="description" placeholder="Комментарий" [(ngModel)]="criterion.description">
                      </textarea>
                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                          <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Модаль -->
                <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel11">Редактирование критерия</h4>
                      </div>

                      <form class="form-horizontal" novalidate #a="ngForm"
                            (ngSubmit)="addOrUpdateCriterionInSet(a.value, a.valid)">
                        <div class="modal-body">

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Название</h4>
                            <div class="profile-input">
                              <input type="text" class="form-control" name="criterionName"
                                     [(ngModel)]="criterion.criterionName"
                                     placeholder="Название"
                                     ngModel
                                     #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                            </div>
                          </div>

                          <div class="form-group form-group-edit">
                            <h4 class="profile-label">Комментарий</h4>
                            <div class="profile-input">
                      <textarea required class="form-control" rows="7" maxlength="150"
                                style="width: 400px; resize: none"
                                name="description" placeholder="Комментарий" [(ngModel)]="criterion.description">
                      </textarea>
                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                          <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Модаль -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">Список экспертов</h4>
                      </div>

                        <div class="modal-body">
                          <div class="panel panel-default">
                            <table class="table table-hover">
                              <tr>
                                <td>Фамилия</td>
                                <td>Имя</td>
                              </tr>
                              <tr *ngFor="let expert of experts; let i = index">
                                <td>{{expert.lastName}}</td>
                                <td>{{expert.firstName}}</td>
                                <td>
                                  <button type="button" style="float: right" class="btn btn-default"
                                            (click)="addExpertInCriterionSet(expert.id, i)">
                                  Добавить
                                  </button>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 style="margin-bottom: 20px">Наборы альтернатив
                <button type="button" class="btn btn-default" style="float: right" data-toggle="modal" data-target="#myModal6">Добавить набор
                </button>
              </h4>
              <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true" style="padding-top: 20px">
                <div class="panel panel-default"
                     *ngFor="let alternativesSet of alternativesSets; let i = index">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" style="padding-bottom: 15px">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                         href="#{{i+100}}" aria-expanded="false" aria-controls="collapseTwo">
                        {{alternativesSet.name}}
                      </a>
                      <button type="button" style="float: right" class="btn btn-danger btn-sm"
                              (click)="deleteAlternativesSet(alternativesSet.id, i)">
                        <i class="fas fa-times"></i>
                      </button>
                    </h4>
                  </div>
                  <div id="{{i+100}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="accordionBlock">
                        <h4>Критерии в наборе:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Наименование альтернативы</th>
                            </tr>
                            <tr *ngFor="let alternative of alternativesSet.alternatives; let j = index">
                              <td><a data-toggle="modal" data-target="#myModal12" (click)="setInfoForUpdate(alternativesSet.id, i, j, false)">{{alternative.alternativeName}}</a></td>
                              <td>
                                <button type="button" style="float: right"
                                        class="btn btn-danger btn-sm"
                                        (click)="deleteAlternative(alternativesSet.id, alternative.id, i, j)"><i class="fas fa-times"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px" data-toggle="modal"
                                (click)="setInfoForInsert(i, alternativesSet.id)" data-target="#myModal2">
                          Добавить альтернативу
                        </button>
                      </div>

                      <div class="accordionBlock">
                        <h4>Описание набора:</h4>
                        <h5>{{alternativesSet?.comment}}</h5>
                      </div>

                      <div>
                        <h4>Доступен у экспертов:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Фамилия</th>
                              <th>Имя</th>
                            </tr>
                            <tr *ngFor="let expert of alternativesSet.experts; let j = index">
                              <td>{{expert.lastName}}</td>
                              <td>{{expert.firstName}}</td>
                              <td>
                                <button type="button" style="float: right"
                                        class="btn btn-danger btn-sm"
                                        (click)="deleteExpertInAlternativeSet(alternativesSet.id,expert.id, i, j)"><i class="fas fa-times"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px" data-toggle="modal"
                                (click)="setInfoForInsert(i, alternativesSet.id)" data-target="#myModal4">Добавить эксперта
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Модаль -->
          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel6">Создание набора альтернатив</h4>
                </div>

                <form class="form-horizontal" novalidate #x="ngForm"
                      (ngSubmit)="addNewAlternativesSet(x.value, x.valid)">
                  <div class="modal-body">

                    <div class="form-group form-group-edit">
                      <h4 class="profile-label">Название</h4>
                      <div class="profile-input">
                        <input type="text" class="form-control" name="name"
                               [(ngModel)]="newAlternativesSet.name"
                               placeholder="Название"
                               ngModel
                               #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                      </div>
                    </div>

                    <div class="form-group form-group-edit">
                      <h4 class="profile-label">Комментарий</h4>
                      <div class="profile-input">
                      <textarea required class="form-control" rows="7" maxlength="150"
                                style="width: 400px; resize: none"
                                name="comment" placeholder="Комментарий" [(ngModel)]="newAlternativesSet.comment">
                      </textarea>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Модаль -->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Добавление новой альтернативы</h4>
                </div>

                <form class="form-horizontal" novalidate #b="ngForm"
                      (ngSubmit)="addOrUpdateAlternativeInSet(b.value, b.valid)">
                  <div class="modal-body">
                    <div class="form-group form-group-edit">
                      <h4 class="profile-label">Название</h4>
                      <div class="profile-input">
                        <input type="text" class="form-control" name="alternativeName"
                               [(ngModel)]="alternative.alternativeName"
                               placeholder="Название"
                               ngModel
                               #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Модаль -->
          <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel12">Редактирование альтернативы</h4>
                </div>

                <form class="form-horizontal" novalidate #b="ngForm"
                      (ngSubmit)="addOrUpdateAlternativeInSet(b.value, b.valid)">
                  <div class="modal-body">
                    <div class="form-group form-group-edit">
                      <h4 class="profile-label">Название</h4>
                      <div class="profile-input">
                        <input type="text" class="form-control" name="alternativeName"
                               [(ngModel)]="alternative.alternativeName"
                               placeholder="Название"
                               ngModel
                               #name="ngModel" minlength="2" maxlength="50" style="width: 400px;" required/>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Модаль -->
          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel4">Список экспертов</h4>
                </div>

                <div class="modal-body">
                  <div class="panel panel-default">
                    <table class="table table-hover">
                      <tr>
                        <td>Фамилия</td>
                        <td>Имя</td>
                      </tr>
                      <tr *ngFor="let expert of experts; let i = index">
                        <td>{{expert.lastName}}</td>
                        <td>{{expert.firstName}}</td>
                        <td>
                          <button type="button" style="float: right" class="btn btn-default"
                                  (click)="addExpertInAlternativeSet(expert.id, i)">
                            Добавить
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
