<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">
        <h2>Наборы критериев и альтернатив</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 style="margin-bottom: 20px">Наборы критериев</h4>

              <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" *ngFor="let criterionsSet of criterionsSets; let i = index">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title" style="padding-bottom: 15px">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1"
                         href="#{{i}}" aria-expanded="false" aria-controls="collapseOne">
                        {{criterionsSet.name}}
                      </a>
                      <button type="button" style="float: right" class="btn btn-danger btn-sm"
                              (click)="deleteCriterionSet(i)">
                        <i class="fas fa-times"></i>
                      </button>
                    </h4>
                  </div>
                  <div id="{{i}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingOne">
                    <div class="panel-body">

                      <div class="accordionBlock">
                        <h4>Критерии в наборе:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Наименование критерия</th>
                              <th>Описание</th>
                            </tr>
                            <tr *ngFor="let criterion of criterionsSets[i].criterions">
                              <td>{{criterion.criterionName}}</td>
                              <td>{{criterion.description}}</td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px">Добавить критерий
                        </button>
                      </div>

                      <div class="accordionBlock">
                        <h4>Описание набора:</h4>
                        <h4>{{criterionsSet?.comment}}</h4>
                      </div>

                      <div>
                        <h4>Доступен у экспертов:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Имя</th>
                              <th>Фамилия</th>
                            </tr>
                            <tr *ngFor="let expert of criterionsSets[i].experts">
                              <td>{{expert.firstName}}</td>
                              <td>{{expert.lastName}}</td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px" (click)="addExpertInCriterionSet(i)">Добавить эксперта
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 style="margin-bottom: 20px">Наборы альтернатив</h4>
              <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default"
                     *ngFor="let alternativesSet of alternativesSets; let j = index">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" style="padding-bottom: 15px">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                         href="#{{j+100}}" aria-expanded="false" aria-controls="collapseTwo">
                        {{alternativesSet.name}}
                      </a>
                      <button type="button" style="float: right" class="btn btn-danger btn-sm" (click)="deleteAlternativeSet(j)">
                        <i class="fas fa-times"></i>
                      </button>
                    </h4>
                  </div>
                  <div id="{{j+100}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="accordionBlock">
                        <h4>Критерии в наборе:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Наименование альтернативы</th>
                            </tr>
                            <tr *ngFor="let alternative of alternativesSets[j].alternatives">
                              <td>{{alternative.alternativeName}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>

                      <div class="accordionBlock">
                        <h4>Описание набора:</h4>
                        <h4>{{alternativesSet?.comment}}</h4>
                      </div>

                      <div>
                        <h4>Доступен у экспертов:</h4>
                        <div class="panel panel-default">
                          <table class="table table-hover">
                            <tr>
                              <th>Имя</th>
                              <th>Фамилия</th>
                            </tr>
                            <tr *ngFor="let expert of alternativesSets[j].experts">
                              <td>{{expert.firstName}}</td>
                              <td>{{expert.lastName}}</td>
                            </tr>
                          </table>
                        </div>
                        <button type="button" class="btn btn-default" style="margin-top: 10px">Добавить эксперта
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
