<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>Главная страница</h2>
      </div>

      <p class="lead">Данный сайт позволяет пользователю оценивать альтернативы относительно
        набора критериев с помощью метода гибридных оценок.
        Нахождение предпочтительной альтернативы производится посредством оценки критериев относительно друг
        друга и дальнейшей оценки набора альтернтив по критериям.</p>
      <p class="lead">
        Для нахождения предпочтительной альтернативы пользователю необходимо создать наборы критериев и
        альтернатив и приступить к оценке. Также данный сайт поддерживает возможность оценивать альтернативы группой экспертов.
        Для этого необходимо создать предопределённые наборы критериев и альтернатив и назначить их пользователям.
        Для дальнейшей работы с сайтом пройдите <a routerLink="/registered">регистрацию</a> либо <a routerLink="/login">авторизуйтесь.</a>
      </p>
    </div>
  </div>
</div>
