<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>Главная страница</h2>
      </div>

      <p class="lead">Данный сайт позволяет с помощью метода гибридных оценок выбрать один из имеющихся компьютерных классов для
        развертывания технологии виртуальных рабочих мест в сеть Воронежского ГАСУ.
      Выбор происходит посредством оценки критериев и альтернатив экспертом.
      Метод гибридных оценок был разработан в 2014г. М. Даббахом.
      Он появился в результате интеграции двух немало известных методов: метода анализа иерархий и средневзвешенного.
      Целью интеграции было объединить положительные черты двух методов и получить в итоге метод, который объединяет в
      себе эффективность, понятность и парные сравнения</p>
    </div>
  </div>
</div>
